<div class="panel panel-primary">
    <div class="panel-heading">Beer Detail</div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 item-photo">
                    <img style="max-width:100%;" src="{{detail?.labels?.large}}" />

                </div>
                <div class="col-xs-5" style="border:0px solid gray">

                    <h3>{{detail?.name}}</h3>
                    <h6 class="title-price"><small>{{detail?.description}}</small></h6>
                    <h3 class="title-price">Category</h3>
                    <h5 style="margin-top:0px;">{{detail?.style?.category?.name}}</h5>

                    <div class="section" style="padding-bottom:20px;">
                        <button class="btn btn-primary" aria-hidden="true" (click)="onBackClick()"> Back to List</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>